<div class="brands-container-wrapper">
  <div class=" container brands-container d-flex justify-content-center align-items-center px-0">
    <div class="brands-box d-flex justify-content-around">
      <img src="/images/ideal.png" alt="">
      <img src="/images/vallient.png" alt="">
      <img src="/images/veissman.png" alt="">
      <img src="/images/worchester.png" alt="">
      <img src="/images/potterton.png" alt="">
    </div>
  </div>
</div>
