<div class="brands-container-wrapper">
  <div class=" container brands-container d-flex justify-content-around align-items-center px-0">
    <img src="/images/ideal.png" alt="">
    <img src="/images/vallient.png" alt="">
    <img src="/images/veissman.png" alt="">
    <img src="/images/worchester.png" alt="">
    <img src="/images/potterton.png" alt="">
  </div>
</div>
