<div class="contact-group">
  <div>
    <h1>Contact us</h1>
  </div>
  <div class="contact-background">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="contact-form">
            <input type="text" placeholder="your name">
            <input type="text" placeholder="your e-mail">
            <input type="text" placeholder="message">
            <button>Submit</button>
          </div>
        </div>
        <div class="col-6">
          <div class="contact-details">
            <p>telephone</p>
            <p>email</p>
            <p>postal address</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
