<div class="container d-flex justify-content-center p-0 contact-group-wrapper" style="min-width: 1440px">
  <div class="contact-group">
    <div class="container d-flex justify-content-center">
      <div class="contact-group-header mb-3">
        <h1>Contact us</h1>
      </div>
    </div>
    <div class="contact-background">
      <div class="filter">
        <div class="container d-flex justify-content-center">
          <div class="row contacts-row" style="width: 900px">
            <div class="col-8">
              <div class="contact-form">
                <input type="text" placeholder="your name">
                <input type="text" placeholder="your e-mail">
                <input type="text" placeholder="message">
                <button>Submit</button>
              </div>
            </div>
            <div class="col-4">
              <div class="contact-details">
                <p>telephone</p>
                <p>email</p>
                <p>postal address</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
