<div class="process-container">
  <div class="container d-flex justify-content-between buttons-container">
    <div class="stage-group d-flex flex-column align-items-center">
      <p>Select Service</p>
      <div class="bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center"">
      <p>Date & Time</p>
      <div class="bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center"">
      <p>Payment</p>
      <div class="bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center"">
      <p>Confirmation</p>
      <div class="bar"></div>
    </div>
  </div>
</div>
