<div class="d-flex justify-content-center services-group-wrapper ">
  <div class="services-group">
    <div class="book-services-registration">
      <h1>Book services online</h1>
      <div class="registration-form">
        <input type="text" placeholder="e-mail">
        <button></button>
      </div>
    </div>
    <div class="book-services-online">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="services-byarrangement">
      <h1>Contact us for other services</h1>
    </div>
    <div class="arranged-services">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
