<div class="d-flex justify-content-center services-group-wrapper ">
  <div class="services-group">
    <div class="container-fluid d-flex justify-content-center pt-5 pb-5">
      <div class="book-services-registration d-flex justify-content-between align-items-center">
        <h1>Book services online</h1>
        <div class="registration-form">
          <form class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">email</label>
            <input type="text" class="form-control input-light " id="inlineFormInputName2" placeholder="email">
            <button type="submit" class="btn-dark mb-2">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="book-services-online">
      <div class="container">
        <div class="row">
          <% @services.each do |service| %>
            <% if service.bookable == true %>
              <div class="col-6">
                <div class="card" style="width: 25rem;">
                  <%= image_tag service.photo_url, alt: "Card image cap", width: 380, height: 240, :class => "card-img-top" %>
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  <div class="card-body">
                    <h5 class="card-title"><%= service.name %></h5>
                    <p class="card-text"><%= service.description %></p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid d-flex justify-content-center pt-2 pb-5">
      <div class="services-byarrangement">
        <h1>Contact us for other services</h1>
      </div>
    </div>


    <div class="arranged-services">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <h2>Annual Boiler Services</h2>
              <p>Keep your boiler running well</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
