// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$dark-grey: rgb(88, 88, 90);
$light-grey: rgb(188, 189 ,191);
$lighter-grey: rgb(226, 225, 225);
$flame-red: rgb(113, 15, 18);
$pale-grey: rgb(95, 91, 91);
