<div class="footer">
  <div class="d-flex justify-content-between align-items-center">
    <ul class="list-unstyled">
      <li>Pawlett Plumbing & Heating Ltd</li>
      <li>Company limited by shares | Director: Ben Pawlett</li>
      <li>Company No. SC550745 </li>
      <li>VAT No. 294969331</li>
      <li>Gas Safe Reg no 601596</li>
    </ul>
    <ul class="list-unstyled">
      <li><%= image_tag 'gas-safe-register.jpg', width: 80 %></li>
    </ul>
  </div>
  <div class="d-flex justify-content-center align-items-baseline">
    <ul class="list-group list-group-horizontal">
          <li class="list-group-item">© 2021 Pawlett Plumbing & Heating Ltd</li>
          <li class="list-group-item">Privacy Policy</li>
          <li class="list-group-item"><p id="poweredBy">powered by <span><a href="https://www.jeb-studio.com" target="_blank">JEB-Studio</a></span></p></li>

    </ul>
    <p id="poweredByAlt">powered by <span><a href="https://www.jeb-studio.com" target="_blank">JEB-Studio</a></span></p>
  </div>
</div>

















<!-- <div class="d-flex justify-content-center">
  <div class="pawlett-footer-wrapper">
    <div class="container pawlett-footer d-flex align-items-center">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">© 2020 Pawlett Plumbing & Heating Ltd</li>
        <li class="list-group-item">Terms of Service</li>
        <li class="list-group-item">Privacy Policy</li>
        <li class="list-group-item">Cookies</li>
        <li class="list-group-item">Site Map</li>
      </ul>
      <p>powered by <span>OneManBand</span></p>
    </div>
  </div>
</div> -->
