<div class="pawlett-footer">
  <ul>
    <li>© 2020 Pawlett Plumbing & Heating Ltd</li>
    <li>Terms of Service</li>
    <li>Privacy Policy</li>
    <li>Cookies</li>
    <li>Site Map</li>
  </ul>
  <p>powered by <span>OneManBand</span></p>
</div>
