<div class="d-flex justify-content-center">
  <div class="pawlett-footer-wrapper">
    <div class="container pawlett-footer d-flex align-items-center">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">© 2020 Pawlett Plumbing & Heating Ltd</li>
        <li class="list-group-item">Terms of Service</li>
        <li class="list-group-item">Privacy Policy</li>
        <li class="list-group-item">Cookies</li>
        <li class="list-group-item">Site Map</li>
      </ul>
      <p>powered by <span>OneManBand</span></p>
    </div>
  </div>
</div>
