<div class="container d-flex justify-content-center p-0">
  <div class="navbar-pawlett-wrapper">
    <div class="d-flex justify-content-between align-items-center container navbar-pawlett px-0">
      <%= image_tag 'logo_dark.png', width: 160 %>
      <div class="d-flex">
        <div class="navbar-pawlett-central-links">
          <a href="/" class="pawlett-navbar-button">Home</a>
          <a href="/" class="pawlett-navbar-button">about</a>
          <a href="/" class="pawlett-navbar-button">services</a>
          <a href="/" class="pawlett-navbar-button">Covid-19</a>
        </div>
        <div class="pawlett-navbar-contact">
          <a href="" class="pawlett-navbar-button">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>





