<div class="navbar-section">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mt-5 py-0">
    <a class="navbar-brand" id="logo" href="/">
      <%= image_tag 'logo_dark.png', width: 160 %>
    </a>
    <a class="navbar-brand" id="gsr-logo"href="/">
      <%= image_tag 'gsr_search_logo.png', id: "gsr", width: 80 %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Services-locator">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/covid" id="secondtolast">Covid-19</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/#Contact-tag" id="navcontact">Contact</a>
      </form>
    </div>
  </nav>
  <div class="container-fluid contact-details fixed-top d-flex justify-content-around align-items-end pt-2">
    <p>Tel: 01330828196 / 07825870058</p>
    <p>enquiries@pawlettplumbing.co.uk </p>
  </div> 
</div>
