<div class="navbar-pawlett-wrapper">
  <div class="d-flex justify-content-between align-items-center container navbar-pawlett px-0">
    <%= image_tag 'logo_dark', width: 96 %>
    <div class="d-flex">
      <div class="navbar-pawlett-central-links">
        <a href="" class="pawlett-navbar-button">Home</a>
        <a href="" class="pawlett-navbar-button">about</a>
        <a href="" class="pawlett-navbar-button">services</a>
        <a href="" class="pawlett-navbar-button">contact</a>
      </div>
      <div class="pawlett-navbar-login">
        <a href="" class="pawlett-navbar-button">my account</a>
      </div>
    </div>
  </div>
</div>





