<div class="process-container">
  <div class="container d-flex justify-content-between buttons-container">
    <div class="stage-group d-flex flex-column align-items-center">
      <p class="active">Select Service</p>
      <div class="bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center">
      <p class="inactive-process-text">Date & Time</p>
      <div class="inactive-bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center">
      <p class="inactive-process-text">Payment</p>
      <div class="inactive-bar"></div>
    </div>
    <div class="stage-group d-flex flex-column align-items-center">
      <p class="inactive-process-text">Confirmation</p>
      <div class="inactive-bar"></div>
    </div>
  </div>
</div>
