<div class="article container">
  <h1>Navigating through COVID-19</h1>
  <h2>
    <span>
      <span>Pawlett Plumbing and Heating&nbsp;is committed to caring for the health and well-being of our partners and customers and playing a constructive role in supporting local health workers.&nbsp;</span>
    </span>
    <span>
      <span>No out of hours&nbsp;or call out charges&nbsp;for NHS or emergency service workers plus 20% off local rates.</span>
    </span>
  </h2>
  <h4>
    <span>
      <span>Is Pawlett Plumbing and Heating taking Bookings?</span>
    </span>
    </h4>
  <p>
    <span>In line with government guidance, we are continuing to provide essential and emergency maintenance, as long with time sensitive jobs in void properties that would cause disruption if not completed. We’re taking steps to minimise non-essential contact and using enhanced PPE.
    </span>
  </p>
  <p>Throughout lock-down work we were&nbsp;undertaking;</p>
  <p>Leaks, boiler breakdowns, blocked plumbing, no hot water, gas safety inspections, urgent upgrades, urgent repairs, legally required safety compliance such as gas safety inspections, washing machine repair.
  </p>
  <p>
    <span>Examples of work we have resumed;</span>
  </p>
  <p>
    <span>
      Bathroom upgrades, cosmetic upgrades, replacement of currently fully operational systems, non urgent&nbsp;
    </span>
    maintenance, projects in occupied homes, new bathrooms new en suites, plumbing for projects that do not currently need t&nbsp;commence.
    <br>
    &nbsp;
  </p>
  <h4>
    <span>
      <span>What you need to do</span>
    </span>
  </h4>

  <p>Our engineers can still help you if you have an emergency.
    <span>You must&nbsp;let us know if you (or&nbsp;your tenants) think you/they could be at risk of Covid-19 or are self-isolating</span>
    so we can take proper safety precautions to protect both you and our engineers.&nbsp;
  </p>


  <h4>
    <span>Cancellations</span>
  </h4>

  <p>We’re operating a policy of no late cancellation fees for Covid related issues.
    <br>
    You will be able to re book later.
  </p>

  <h4>
    <span>Booking a new job
    </span>
  </h4>

  <p>When you book an emergency engineer appointment we’ll ask you if:</p>

  <ul>
    <li>
      <p>You or anyone in your/the home has been diagnosed with coronavirus.</p>
    </li>
    <li>
      <p>You or anyone else in your/the home is self-isolating</p>
    </li>
    <li>
      <p>Anyone in your/the&nbsp;home is at higher risk – i.e. over 70, respiratory disease, diabetes etc.</p>
    </li>
    <li>
      <p>Do you think you might have coronavirus? Do any tenants/other residents think they may have coronavirus.</p>
    </li>
  </ul>

  <p>If you answer ‘yes’ to any of these questions then we will&nbsp;assess your need for an engineer visit and additional precautions that might be&nbsp;possible</p>

  <p>
    <span>If your circumstances change between a booking and a job you must contact us.&nbsp;</span> Our engineer may&nbsp;also call you on the day of your appointment and ask the same set of questions, in case anything has changed since you booked.
  </p>

  <p>When an engineer does visit a customer’s home, they’ll take additional precautions – including hand-washing – before, during and after the appointment. They’ll protect you and your family members by keeping a safe distance at all times – and we ask you to do the same.</p>


  <h4>
    <span>Protection&nbsp;from spreading the virus.</span>
  </h4>

  <p>Our engineers began social distancing as a company policy&nbsp;before the government introduced mandatory measures.
  </p>

  <p>Our engineers are following government guidance and above and beyond this we are wearing enhancing PPE.
  </p>

  <p>No non essential operatives in operation (e.g. no&nbsp;apprentices on site no revisits by estimator, communications by estimator and staff via phone).&nbsp;
  </p>

  <p>Please open windows and if approximate back doors in increase ventilation. If working form how please where possible work in a different room from our operatives.
  </p>

  <h4>
    <span> Pawlett Plumbing and Heating employees defined as second tier key workers by the UK Government</span>
  </h4>

  <p>On Friday, 20th March, the UK Government defined a list of key workers whose efforts will be essential as the UK responds to the ongoing coronavirus outbreak. This list included&nbsp;utilities workers.
  </p>
</div>
