<div class="container reviews">
  <%= render 'shared/navbar' %>
  <h1 class="text-uppercase" id="testimonials-header">Testimonials</h1>

  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Fabulous service from this company. Will definitely be using and recommending them in future. Ben got straight back to me when I contacted him about an issue with our heating system. He arrived when he said he would, sorted the problem and was very thorough in checking everything was working as it should before he left.</p>
    <footer class="blockquote-footer text-uppercase mt-3">Joanne Taylor <cite title="Source Title"></cite></footer>
    <hr class="mt-4 ">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Great to have met Ben and his colleague Chris who have worked so diligently this last week. I cannot praise them enough and can really recommend them in all ways- very polite , tidy , punctual and dependable.</p>
    <footer class="blockquote-footer text-uppercase mt-3">Hazel Bannerman<cite title="Source Title"></cite></footer>
    <hr class="mt-4 ">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Have recently had some work done by Pawlett Plumbing and would highly recommend them. Very happy customer!</p>
    <footer class="blockquote-footer text-uppercase mt-3">Esther Sanderson<cite title="Source Title"></cite></footer>
    <hr class="mt-4 ">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">I can highly recommend Pawlett Plumbing & Heating Ltd for any plumbing work required. Ben and team showed up when expected and went above and beyond considering all the problems they faced when replacing an old, very tired bathroom with some dodgy workmanship involved. Now looking forward to being able to relax in the gorgeous and tranquil space that Ben and his team have created, something I never felt able to do before.</p>
    <footer class="blockquote-footer text-uppercase mt-3">Denise Scott<cite title="Source Title"></cite></footer>
    <hr class="mt-4 ">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Saved us on moving day with loads of issues. Very professional and realiable. Couldn't recommend enough</p>
    <footer class="4 blockquote-footer text-uppercase mt-3">Lewis Walker <cite title="Source Title"></cite></footer>
    <hr class="mt-5">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Friendly and efficient service. Would definitely recommend to anyone needing a reliable plumber.</p>
    <footer class="blockquote-footer text-uppercase mt-3">Mungo Finlayson<cite title="Source Title"></cite></footer>
    <hr class="mt-4 ">
  </blockquote>
  <blockquote class="blockquote px-5 mt-5">
    <i class="fas fa-quote-left"></i>
    <p class="mb-0">Can not thank Ben enough for coming out today at very short notice today (a Saturday) and saving the day with a leak we had in a bathroom. Absolutely brilliant service and so fast. Highly recommend!</p>
    <footer class="blockquote-footer text-uppercase mt-3">Emma Lawson<cite title="Source Title"></cite></footer>
    <hr class="mt-4 " id="lasthr">
  </blockquote>
  <%= render 'shared/footer' %>
</div>
