<div class="article container">
  <%= render 'shared/navbar' %>
  <h1>Our Services</h1>
  <p class="headline">Pawlett Plumbing and Heating provide a full mechanical service to our clients. That means all plumbing, heating, gas, electrical and appliance maintenance work is undertaken as well as design installations.

By operating on local bases we can provide a professional service with highly competitive prices. We don't have the logistical problems that larger companies, as well as many independents, suffer from covering an area as big as Aberdeenshire or more. </p>

  <p>We provide prompt, clear, competitive and free quotes.</p>
  <p>Ben is a highly qualified experience plumber, heating, gas engineer, and appliance tester, with experience in inspections and design for local authority housing and property maintenance and development companies.</p>

  <ul>
    <li></li>
  </ul>


<li>New installations; design and build.<li>

<li>Renovations, new plumbing and heating systems, plumbing for new and refurbished bathrooms and kitchens.<li>

<li>Installations of showers and shower mixers.<li>

<li>Leaks; repairs and tracing.<li>

<li>Plumbing fault finding and diagnostics; shower flow issues, drainage issues, supply problems.<li>

<li>General repairs to taps valves and other components.<li>

<li>Hot water issues; too hot or cold, temperate drops. Intermittent flow issues. Lack of supply.<li>

<li>Plumbing for power showers and pumped showers. (A bristan certified shower specialist.)<li>

<li>Design for plumbing systems with pipe sizing.<li>

<li>Water hammer issues, and noisy systems.<li>

<li>Flow problems, lack of water, intermittent flow.<li>

<li>Shared mains issues.<li>

<li>Unvented cylinders installation (megaflows etc).<li>

<li>Changing taps and valve.<li>

<li>Stop cock, stop valve installation repairs and swaps.<li>
<li>Pipe freezing.</li>
<li>Whale shower pumps, installation & Repairs<li>




























  <%= render 'shared/footer' %>
</div>
