<h1>Someone's just messaged you:</h1>

<p>Hi Ben,</p>
<p>Someone visited your website and submitted a query.</p>
<p>Here are the details of your new query:</p>
<ul>
  <li>Name: <%= @query.name %> </li>
  <li>e-mail: <%= @query.email %> </li>
  <li>message <%= @query.message %> </li>
  <li>created <%= @query.created_at %> </li>
</ul>

