.aboutus-section {
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  h2 {
    margin-bottom: 20px;
  }
  img {
    border-radius: 72px;
  }
  .aboutus {
    text-align: left;
    padding-left: 10px;
    color: rgb(20, 20, 20);
  }
}
