
.brands-container-wrapper {
  background-color: black;
}

.brands-container {
  background-color: $light-grey;
  height: 69px;
  max-width: 1440px;

  img {
    width: 100px;
    height: 40px;
  }


}

.brands-box {
  width: 900px;
}
