.btn-dark {
    background-color: $dark-grey;
    padding: 6px 12px;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

.input-light {
    background-color: white;
    font-size: 1.3rem;
    border: none;
    height: 40px;
}
