.pawlett-carousel-wrapper {
  background-color: black;
}

.pawlett-carousel {
  max-width:  1440px;
}

.pawlett-carousel-inner {
  // height: 600px;
}

.pawlett-carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: $light-grey;
}
