.footer {
  background-color: rgb(60, 60, 60);
  padding: 50px 30px 20px 30px;
  color: $light-grey;
  font-size: 14px;

  li {
    margin-bottom: 20px;
  }

  .list-group-item, p {
    background-color: rgb(60, 60, 60);
    border: none;
    text-transform: capitalize;
    font-weight: 100;
  }

  p {
    margin-left: 300px;
  }

  span, a {
    font-weight: 700;
    letter-spacing: -1px;
    color: $light-grey;
  }

  img {
    border-radius: 6px;
  }

//   width: 1440px;


//   .pawlett-footer {
//     height: 112px;
//     width: 900px;
//     padding-left: 0;
//     padding-right: 0;


//     li {
//       padding-left: 10px;
//       padding-right: 10px;
//       background-color: rgb(60, 60, 60);
//       border: none;
//       text-transform: capitalize;
//       font-weight: 100;
//     }

//     p {
//       font-weight: 100;
//       margin-bottom: 0;
//       margin-left: 110px;
//     }

//     span {
//       font-weight: 700;
//       letter-spacing: -1px;
//     }
//   }


//   a {
//     color: $light-grey;
//     // letter-spacing: -1px;
//   }

}

#poweredBy {
  display: none;
}


@media(max-width: 991px) {
  .footer p {
    margin-left: 60px;
  }
}

@media(max-width: 768px){
  #poweredByAlt {
    display:  none;
  }
  #poweredBy {
    display: block;
    margin-left: 0;
  }
  .list-group-horizontal {
    flex-direction: column;
  }
  li.list-group-item {
    margin-bottom: 0;
    text-align: center;
  }
  .footer img {
    width: 40px;
  }
}








