.service-description-box {
  width: 50%;
  border: 3px solid rgba(43, 43, 43, .15);
  border-radius: 32px;
}


.price {
  font-size: 1.6rem;
  background-color: rgba(97, 96, 96, .25);
  padding: 10px 15px;
  border-radius: 8px;
}
