.services-group {
  width: 1440px;
  background-color: $lighter-grey;

  hr {
    color: $flame-red;
    height: 2px;
    margin-top: 38px;
  }

}

.services-group-wrapper {
  background-color: black;
}

.book-services-registration, .services-byarrangement {
  width: 1100px;

  h1 {
    display: inline;

  }

  .registration-form {
    display: inline;

    input {
      height: 40px;

    }
  }
}

